@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    QuotesKingdom<br />
    El Quods, Oujda-Maroc<br />
    <abbr title="Phone">P:</abbr>
    +212...
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:m">quoteskingdom@example.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:">Marketing@example.com</a>*@
</address>